@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Source Serif 4", serif;
    outline: none;
}
body{
    align-items: center;
    min-height: 100vh;
    background-color: rgb(55, 4, 94);
    color:#ffff;
}
.home{
    margin: 44px 0;
        a i{
            padding: 0 60px;
            font-size: 40px;
            color: rgba(180, 174, 180, 0.995);
        }
}
.titulo{
    padding: 5px 0 60px 0;
    text-align: center;
}
.titulo h1{
    font-size: 55px;

        span{
            color:rgb(228, 0, 202);
        }
}
section{
    padding: 40px 4%;
}
.contenes{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
    align-items: stretch;
}

.card{
    align-items: center;
    background-color: #2d1938;
    border-color: #501140;
    box-shadow: 0 0 5px 0 rgba(180, 174, 180, 0.995);
    border-radius: 12px;
    width: 330px;
    padding: 20px;
    transition: 0.3s;
}
.card:hover {
    transform: translateY(-10px);
    background-color: #2d1938;
    border-color: #b717aa;
    box-shadow: 0 0 10px 0 rgba(241, 219, 241, 0.995);
}
h2{
    color: rgb(228, 0, 202);
    padding: 10px 0;
    font-size: 25px;
    text-align: center;
}
.card p{
    font-weight: 400;
    text-align: left;
    color: #ffff;
}
.texto p {
    font-size: 15px;
    align-items: center;
    padding: 8px 0;
    max-width: 500;

}

.card .img{
    justify-content: center;
    display: flex;
}
.card img{
    width: 30%;
    border-radius: 10px;
}
.contenes > a {
    display: flex;
    text-decoration: none;
}
@media (max-width:780px) {
    .home{
        margin: 25px 0;
            a i{
                padding: 0 40px;
                
            }
    }
    .titulo{
        padding: -10px 0 50px 0;
}
    .titulo h1{
        font-size: 45px;
}
    section{
        padding: 20px 4%;
}
    .contenes{
        gap: 45px;
}
    .card{
        width: 280px;
        padding: 18px;
}
    .card p{
        font-weight: 400;
        text-align:center;
        color: #ffff;
}
    .texto p {
        font-size: 13px;
        align-items: center;
        padding: 8px 0;

}
    .card img{
        width: 25%;
        border-radius: 10px;
}
}