@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(67deg, rgb(38, 18, 111), rgba(66, 10, 53, 0.99)); 
    color: white;
    margin: 0;
    padding: 0;
}

.projetos {
    text-align: center;
    padding: 60px 20px;
}

.projetos h1 {
    font-size: 40px;
    margin-bottom: 80px;
}

.container {
    display: flex;
    justify-content: center;
    gap: 80px;
    flex-wrap: wrap;
}

.card {
    background-color: #1e293b;
    border-radius: 12px;
    width: 300px;
    padding: 20px;
    transition: 0.3s;
}

.card img {
    width: 100%;
    border-radius: 10px;
}

.card h2 {
    margin: 15px 0 10px;
}

.card p {
    font-size: 14px;
    color: #cbd5e1;
}

.card a {
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    color: white;
    background-color: #2563eb;
    padding: 10px 15px;
    border-radius: 8px;
    transition: 0.3s;
}

.card a:hover {
    background-color: #1d4ed8;
}

.card:hover {
    transform: translateY(-10px);
}