@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');

body {
    font-family: Arial, sans-serif;
    background-color:rgb(55, 4, 94);
    color: rgb(255, 255, 255);
    font-family: "Source Serif 4", serif;
    margin: 0;
    padding: 0;
}
.home{
    margin: 44px 0;
        a i{
            padding: 0 60px;
            font-size: 40px;
            color: rgba(180, 174, 180, 0.995);
        }
}
.projetos {
    text-align: center;
    padding: 30px 20px -20px;
}

.projetos h1 {
    font-size: 40px;
    margin-bottom: 80px;
}

.container {
    display: flex;
    justify-content: center;
    gap: 80px;
    flex-wrap: wrap;
}

.card {
    background-color: #2d1938;
    border-color: #501140;
    box-shadow: 0 0 5px 0 rgba(180, 174, 180, 0.995);
    border-radius: 12px;
    width: 300px;
    padding: 20px;
    transition: 0.3s;
}

.card img {
    width: 30%;
    border-radius: 10px;
}

.card h2 {
    margin: 15px 0 10px;
}

.card p {
    text-align: center;
    max-width: 400px;
    font-size:  14px;
    color: #e1cbda;
}
a{
    text-decoration: none;
    color: #ffff;
}

.card:hover {
    transform: translateY(-10px);
}
@media (max-width:780px){

    .container {
        flex-direction: column;
        align-items: center;
        gap: 20px;
        padding: 0 20px;
    }

    .card {
        max-width: 100%;
    }
}