@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');
*{
    margin:0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    font-family: "Source Serif 4", serif;
}
body{
    background: linear-gradient(67deg, rgb(38, 18, 111), rgba(66, 10, 53, 0.99)); 
    display: flex;
    height: 100vh;
    flex-direction: column;
}
.interface{
    padding: 60px 4%;
    margin: 0 auto;
    max-width: 1200px;
}
main{
    flex: 1;
}
.title{
    height: 50vh;
    align-items: center;
    display: flex;
    justify-content: center;

        h1{
            text-align: center;
            font-size: 45px;
            max-width: 950px;
            color: rgb(255, 255, 255);

                span{
                    color: rgb(216, 179, 240);
                }
        }
}
.links{
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 20px 0;
}
.links a{
    color: rgb(227, 228, 230);
    font-size: 22px;
    transition: .2s;
    text-decoration: none;
    padding: 0 25px;

     
        i{
            color:rgb(213, 169, 255);
            padding: 0 15px;
        }
}
a:hover{
    transform: scale(1);
}
footer{
    background-color: rgba(171, 165, 182, 0.753);
    padding: 16px 15px;
}

footer a{
    color: rgb(49, 27, 70);
    padding: 12px 7px;

        i{  
            color: rgb(227, 228, 230);
            background-color: rgb(74, 15, 114);
            padding: 5px 7px; 
            border-radius: 50%;
        }
}
