@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');
*{
    margin:0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    font-family: "Source Serif 4", serif;
}
body{
    background: linear-gradient(67deg, rgb(38, 18, 111), rgba(66, 10, 53, 0.99)); 
    display: flex;
    height: 100vh;
    flex-direction: column;
}
.interface{
    padding: 60px 4%;
    margin: 0 auto;
    max-width: 1200px;
}
main{
    flex: 1;
}
.title{
    height: 50vh;
    align-items: center;
    display: flex;
    justify-content: center;

        h1{
            text-align: center;
            letter-spacing: 2px;
            font-size: 45px;
            max-width: 950px;
            color: rgb(255, 255, 255);

                span{
                    color:  #a701b9;
                }
        }
}
.links{
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 20px 0;
}
.links a{
    color: rgb(227, 228, 230);
    font-size: 22px;
    transition: .3s;
    text-decoration: none;
    padding: 0 25px;

     
        i{
            color: #a701b9;
            padding: 0 15px;
        }
}

a:hover{
    transform:translateY(-5px);
}
footer{
    background-color: rgba(171, 165, 182, 0.753);
    box-shadow: 2px 0 7px 0  rgba(105, 11, 69, 0.714) ;
    padding: 16px 15px;
}

footer a{
    color: rgb(49, 27, 70);
    padding: 12px 5px;
    

        i{  
            color: rgb(227, 228, 230);
            background-color: rgb(74, 15, 114);
            font-size: 14px;
            padding: 5px 8px; 
            border-radius: 50px;
            display: inline-block;
            transition: .2s;
        }
}
footer a i:hover{
    transform: scale(1.1);
    background-color: rgb(89, 48, 128);
}
.geral{
    align-items: center;
    justify-content:space-between;
    display: flex;
}
.email{
    color: #f0ecec;
    font-size: 13px;

        a{
            color: #f0ecec;
            font-size: 12px;
        }
}
@media (max-width: 768px) {
    .title h1{
            font-size: 25px;
            gap: 7px;
    }
    .links{
    padding: 0 0;
}
.links a{
    font-size: 20px;
    padding: 0 15px;

     
        i{

            padding: 0 5px;
        }
}
footer a{
    padding: 8px 2px;
    

        i{  
            font-size: 12px;
            padding: 5px 8px; 
        }
}
.email{
    font-size: 10px;

        a{
            font-size: 10px;
        }
}
}