@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');

*{
    margin:0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    outline: none;
    font-family: "Source Serif 4", serif;
}

body{
    background-color:rgb(55, 4, 94); 
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.interface{
    padding: 40px 4%;
    margin: 0 auto;
    max-width: 1200px;
}

header{
    background-color: rgba(55, 4, 94, 0.653);
    box-shadow: 2px 0 4px 0 rgba(83, 13, 76, 0.714) ;
    padding: 8px 4%;
}

header .logo{
    padding: 0;
    margin: 0;
}

header nav{
    text-decoration: none;
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

header nav .menu{
    list-style: none;
    display: flex;
}

header nav .menu li{
    display: inline;
    margin-right: 20px;
}

header nav .menu a{
    color: rgb(228, 0, 202);
    font-size: 20px;
    cursor: default;
}

header img{
    width: 62px;
    height: auto ;
    border-radius: 50px;
}

main{
    flex: 1;
}

.text{
    align-items: center;
    display: flex;
    justify-content: center;

        h1{
            text-align: center;
            letter-spacing: 2px;
            font-size: 42px;
            font-weight: 530;
            max-width: 950px;
            color: rgb(255, 255, 255);

                span{
                    color: rgb(228, 0, 202);
                }
        }
    }

/*Animação*/

.title{
    text-shadow: 2px 0 5px rgb(218, 0, 252);
    text-align: center;
    font-weight: 700;
    font-size: 44px;
    padding: 25px 0;
    
}

span{
    position: relative;
}

@keyframes mytext{
    0%,20%{
        content: "Transformando ideias reais.";
    }
    21%,40%{
        content: "Curiosa por desafios.";
    }
    41%,60%{
        content: "Em constante evolução.";
    }
    61%,80%{
        content: "Detalhes fazem diferença.";
    }
    81%,100%{
        content: "Bem-vindo :)";
    }
    
}
.title span::before{
    content: "";
    color: rgb(228, 4, 206);
    animation: mytext 20s infinite;
}

.title span::after{
    content: "";
    position: absolute;
    height: 100%;
    border-left: 2px solid rgb(245, 245, 245);
    right: -10px;
    animation: digitador .8s infinite, digita 20s steps(15) infinite;
    width: calc(100% + 15px);
    background-color: rgb(55, 4, 94);
}

@keyframes digita{
    10%, 15%, 30%, 35%, 50%, 55%, 70%, 75%, 90%, 95%{
        width: 0;
    }
    5%, 20%, 25%, 40%, 45%, 60%, 65%, 80%, 85%{
        width:  calc(100% + 15px);
    }
}

@keyframes digitador{
    0%{
        border-left: 2px solid rgb(55, 4, 94);
    }
}

/*fim da animação*/

.links{
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 25px 0;
}
.links a{
    color: rgb(227, 228, 230);
    font-size: 22px;
    transition: .3s;
    text-decoration: none;
    padding: 0 25px;

     
        i{
            color: rgb(228, 0, 202);
            padding: 0 15px;
        }
}

a:hover{
    transform:translateY(-5px);
}
footer{
    
    background-color: rgba(55, 4, 94, 0.653);
    box-shadow: 2px 0 4px 0 rgba(83, 13, 76, 0.714) ;
    padding: 16px 15px;
}

footer a{
    color: rgb(49, 27, 70);
    padding: 12px 5px;
    

        i{  
            color: rgb(227, 228, 230);
            background-color: rgb(180, 12, 172);
            font-size: 14px;
            padding: 5px 8px; 
            border-radius: 50px;
            display: inline-block;
            transition: .2s;
        }
}
footer a i:hover{
    transform: scale(1.1);
    background-color: rgb(89, 48, 128);
}
.geral{
    align-items: center;
    justify-content:space-between;
    display: flex;
}
.email{
    color: #f0ecec;
    font-size: 13px;

        a{
            color: #f0ecec;
            font-size: 12px;
        }
}
@media (max-width: 768px) {
    body{
        min-height: 100dvh;
    }

    .text h1{
            padding: 10px 0;
            font-size: 22px;
            
    }
    header nav .menu a{
        font-size: 16px;
}


    .interface{
        padding: 80px 8%;
        margin: 0 auto;
        max-width: 1200px;
}
    
    .links{
        padding: 20px 0;
}
.links a{
    font-size: 17px;
    padding: 10px 15px;

     
        i{

            padding: 0 5px;
        }
}

footer{
    padding: 20px 4%;
}
footer a{
    padding: 8px 4px;
    

        i{  
            font-size: 12px;
            padding: 5px 8px; 
        }
}
.email{
    font-size: 10px;

        a{
            font-size: 8px;
        }
}
.title{
    font-size: 23px;
    
}
}